
.container-header {
  background-color: #f8f9fa;
}

.gridContainer {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px; 
  padding: 10px;
  overflow: hidden;
}

.column {
  background-color: #2196F3;
  color: #ffffff;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

.column.show {
  display: block; /* Afficher les colonnes filtrées */
}

.card-container {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the buttons */
.filter-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.filter-btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.filter-btn.active {
  background-color: #666;
  color: white;
}

.btn-search {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #0056b3;
}

.social-icons img {
  margin: 0 10px;
}


.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border: 1px solid #007bff;
  color: #007bff;
  text-decoration: none;
}

.page-link:hover {
  background-color: #007bff;
  color: white;
}

.page-item.active .page-link {
  background-color: #007bff;
  color: white;
}



/* Style pour l'affichage dynamique des photos dans la modale */
.trigger-button {
  background: linear-gradient(to bottom, #a8e063, #56ab2f); /* Gradient vert apaisant */
  border: none;
  color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1); /* Ombre */
}



/*
.pagination {
  border: none;
  outline: none;
  padding: 2px 1px;
  background-color: white;
}*/

 /* Pagination styles */
.pagination-btn {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
} 

.pagination-container-hidden {
  display: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pagination-btn:hover {
 /* border-bottom: 3px solid rgb(68, 135, 0); */
  transition: ease-in-out 0.3s;
  /*padding: 2px 1px;*/
}


/* Responsive design */
@media (max-width: 768px) {
  .column {
      width: 100%; /* Les colonnes prennent toute la largeur sur mobile */
  }
}


